<section>
    <div class="row my-5">
        <div class="container">
            <div class="col-md-12 text-center">
                <h1 class="text-center">Order Placed Successfully</h1>
                <a href="/orders" class="btn btn-primary mx-5">View Orders</a>
            </div>
        </div>
    </div>
</section>